# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.vsidx
*.lock
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.tlog
*.txt
*.lastbuildstate
*.recipe
*.log
/Client/x64/Debug/_IsIncrementalBuild
/Server/x64/Debug/_IsIncrementalBuild

/Server/.vs/Server/v17/TestStore/0/000.testlog
/Server/.vs/Server/v17/TestStore/0/testlog.manifest
